<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date %level %logger{15} - %message%n</pattern>
    </encoder>
  </appender>

  <logger name="log4jdbc.log4j2" level="ERROR"></logger>
  <logger name="jdbc.sqlonly" level="INFO"></logger>
  <logger name="jdbc.audit" level="INFO"></logger>
  <logger name="jdbc.resultset" level="INFO"></logger>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
